{% extends 'core/base.html' %}

{% block content %}

<section class="py-5">

    <div class="container">

        <div class="glass">

            <h1 class="mb-4">
                Вход
            </h1>

            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"
                        class="btn btn-warning">

                    Войти

                </button>

            </form>

        </div>

    </div>

</section>

{% endblock %}
