{% extends 'core/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<section class="py-5">
    <div class="container glass">
        <h1 class="display-3 fw-bold mb-4">{{ welcome_text }}</h1>

        <p class="lead mb-4">
            Создайте временный email, получите письмо через Fastmail API и используйте его в тестах или регистрации.
        </p>

        <a href="#" class="btn btn-warning btn-lg px-5 py-3 fs-4">
            🚀 Попробовать
        </a>
    </div>
</section>

<section class="py-5">
    <div class="container glass">

        <h2 class="mb-5">Почему OneMail крутой?</h2>

        <div class="row g-4">

            <div class="col-12 col-md-4">
                <h4>⚡ Мгновенно</h4>
                <p>Получение одного письма без ожидания и спама</p>
            </div>

            <div class="col-12 col-md-4">
                <h4>🔐 Безопасно</h4>
                <p>Временные адреса без хранения личных данных</p>
            </div>

            <div class="col-12 col-md-4">
                <h4>🧪 Для разработчиков</h4>
                <p>Идеально для тестов регистрации, подтверждений и API</p>
            </div>

        </div>

    </div>
</section>

{% endblock %}